{
  "singleQuote": true,
  "trailingComma": "all",
  "arrowParens": "avoid",
  "printWidth": 100,
  "spaceBeforeFunctionParen": false,
  "endOfLine": "auto",
  "bracketSpacing": true,
  "jsxBracketSameLine": true
}